.sign-up-box {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

#sign-up-email {
    margin-top: 2rem;
}

#sign-up-username {
    margin-top: 1rem;
}

#sign-up-password {
    margin-top: 1rem;
}

#sign-up-button {
    margin-top: 2rem;
    background: var(--dark-orange);
    color: var(--white);
}